{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2>Register</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username"><br><br>
        <select name="role">
            <option value="READER">Reader</option>
            <option value="AUTHOR">Author</option>
        </select><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="password" name="confirm_password" placeholder="Confirm Password"><br><br>

        <button class="btn" type="submit">Register</button>
    </form>

    <p>Already have an account? 
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

{% endblock %}