{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block content %}
<div class="card">
    <h2>Create Post</h2>

    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"><br><br>
        <textarea name="content" placeholder="Content"></textarea><br><br>
        <input type="file" name="cover_image"><br><br>
        <button class="btn" type="submit">Save</button>
    </form><br><br>
    <a class="btn" href="{% url 'home'  %}">Back</a>

</div>


{% endblock %}

