*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

nav{
    background:#2874f0;
    padding:20px;
    display:flex;
    justify-content:center;
    gap:40px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}

.page{
    width:600px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.page h1{
    margin-bottom:15px;
}