<!DOCTYPE html>
<html>
<head>
    <title>About Creators</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>

<div class="about-container">

    <h1>About the Creators</h1>

    <div class="creator-card">
        <h2>Vinod Suthar</h2>
        <p><strong>Role:</strong> Developer</p>
        <p>
            Passionate about web development and backend technologies.
            Developed this Patient Registration System using Django,
            HTML, CSS, and django
        </p>
    </div>

    <div class="creator-card">
        <h2>Team Member</h2>
        <p><strong>Role:</strong> Designer / Support</p>
        <p>
            Assisted in designing the user interface and improving
            user experience of the application.
        </p>
    </div>

    <a href="{% url 'home_page' %}">⬅ Back to Home</a>

</div>

</body>
</html>