{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Patient List</title>
    <link rel="stylesheet" href="{% static 'css/style_patient.css' %}">
</head>
<body>
<h2 class="username">User: {{ request.user.username }}</h2>
<h2>Patient List</h2>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for patient in patients %}
    <tr>
        <td>{{ patient.name }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.email }}</td>
        <td> <a href="{% url 'edit' patient.id %}">Edit</a> </td>
        <td> <a href="{% url 'delete' patient.id %}">delete</a></td>
    </tr>
    {% endfor %}

</table>
<a href="{% url 'patient_reg' %}" class="btn edit-btn">add patient</a> <br>
<a href="{% url 'login' %}" class="btn back-btn">go back</a>

</body>
</html>