{% extends 'base.html' %}
{%block title%} sign up {%endblock%}

{%block content%}
<style>
    body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
    padding: 0;
}

/* Form Container */
.form-box {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Heading */
.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
.form-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    box-sizing: border-box;
}

/* Focus Effect */
.form-box input:focus {
    border-color: #667eea;
    box-shadow: 0 0 6px #667eea;
}

/* File input special style */
.form-box input[type="file"] {
    border: none;
}

/* Button */
.form-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #667eea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
.form-box button:hover {
    background: #5a67d8;
}

/* Link */
.form-box a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #667eea;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}
</style>
<div class="form-box">
    <h2>sign up</h2>

    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}

        <input type="text" name="fname" placeholder="First Name" required>
        <input type="text" name="lname" placeholder="Last Name" required>
        <input type="text" name="uname" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="number" name="phone" placeholder=" phone" required>
        <input type="number" name="experience" placeholder=" experience" required>
        <input type="text" name="clinic_address" placeholder="clinic_address " required>
        <input type="text" name="specialization" placeholder="specialization" required>
        <input type="file" name="image" placeholder="image" >

        <button type="submit">Sign Up</button>
    </form>
    <a href="{% url 'login' %}">already have a account</a>
    <a href="{% url 'home_page' %}">go to home</a>


</div>
{% endblock %}